@import '../../../styles/global.scss';

.image-container {
  width: 20%;
  margin: 1em 0;

  @media #{$tabletView} {
    width: 33%;
  }
  @media #{$mobileView} {
    width: 100%
  }

  .photo-box {
    position: relative;
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid transparent;
    @include box-shadow(5px);
    margin: auto;

    &:hover {
      transform: scale(1.1);
      border: 2px solid $border-color;
      @include box-shadow(10px);
    }

    img {
      height: 100%;
      width: 100%;
    }

    @media #{$tabletView} {
      width: 200px;
      height: 200px;
    }
    @media #{$mobileView} {
      width: 300px;
      height: 300px;
    }
  }
}