@import '../../../styles/global.scss';

.image-container {

  .photo-box {
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    border: 1px solid transparent;
    @include box-shadow(5px);
    margin: auto;

    &:hover {
      transform: scale(1.1);
      border: 2px solid $border-color;
      transition: all 0.3s ease-out;
      @include box-shadow(10px);
    }

    img {
      height: 100%;
      width: 100%;
    }
  }
}