$padding-15: 15px;
$padding-em: 1em;

$break-lg: 800px;
$break-md: 628px;
$break-iPad: 768px;
$break-screen-sm-modalView: 594px;

// breakpoints
$tabletView: 'only screen and (min-width: #{$break-md}) and (max-width: #{$break-lg})';
$mobileView: 'only screen and (max-width: #{$break-md})';
$tabletModalView: 'only screen and (max-width: #{$break-screen-sm-modalView})';

//colors
$white: #fff;
$base-bg-color: #007;

//Header and Nav
$header-border-bottom: 1px solid #ddd;
$header-bg-color: $base-bg-color;

// Images and Overlays
$image-overlay-bg: rgba(0, 0, 0, .6);
$border-color: $base-bg-color;

//Footer
$footer-bg-color: $base-bg-color;

