$padding-15: 15px;
$padding-em: 1em;

//colors
$white: #fff;
$base-bg-color: #007;
//Header and Nav
$header-border-bottom: 1px solid #ddd;
$header-bg-color: $base-bg-color;

// Images and Overlays
$image-overlay-bg: rgba(0, 0, 0, .6);


//Footer
$footer-bg-color: $base-bg-color;